<div class="right">
    <button type="button" class="btn btn-primary" [routerLink]="'/hr'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Back</button>
  
  </div>
  <div class="header">
 <h3>Feedback Details</h3>
  </div>
  
   <div class="box">
    <h5>Interviewee Name :{{this.feedback.intervieweeName}}</h5>
    <table class="table table-info">
        <thead class="table-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Checklist</th>
              <th scope="col">Feedback</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Coding skills</td>
            <td>{{this.feedback.codingSkills}}</td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>Necessary skills required for the role, based on the year of experience</td>
              <td>{{this.feedback.skillOnYOE}}</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Decision making ability</td>
              <td>{{this.feedback.decisionMaking}}</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Client handling skills</td>
              <td>{{this.feedback.clientHandling}}</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Team management</td>
              <td>{{this.feedback.teamMgmnt}}</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Ability to articulate</td>
              <td>{{this.feedback.articulateAbility}}</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Solution oriented approach</td>
              <td>{{this.feedback.solutionApproach}}</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Remarks</td>
              <td>{{this.feedback.remarks}}</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Overall Interview Feedback</td>
              <td>{{this.feedback.interviewerFeedback}}</td>
            </tr>   
        </tbody>
      </table>
   </div>
       
      